<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
  </head>
  <body>
      <div class="question">
        <h3 id="question_txt">ジョンカビラゲーム</h3>
      </div>
      <div class="time-limit">
        <p id="limit_message"><span id="timer">スタートボタンを押してください</span></p>
        <p id="accuracy_rate"></p> 
      </div>
      <div class="container">
        <ul>
          <li><figure><img name="k-1" id="img_1" src="/images/k-1.jpg"></figure></li>        
          <li><figure><img name="j-2" id="img_2" src="/images/j-2.jpg"></figure></li>        
          <li><figure><img name="k-3" id="img_3" src="/images/k-3.jpg"></figure></li>        
          <li><figure><img name="h-2" id="img_4" src="/images/h-2.jpg"></figure></li>        
          <li><figure><img name="j-4" id="img_5" src="/images/j-4.jpg"></figure></li>        
          <li><figure><img name="k-5" id="img_6" src="/images/k-5.jpg"></figure></li>        
          <li><figure><img name="j-6" id="img_7" src="/images/j-6.jpg"></figure></li>        
          <li><figure><img name="h-3" id="img_8" src="/images/h-3.jpg"></figure></li>        
          <li><figure><img name="h-1" id="img_9" src="/images/h-1.jpg"></figure></li>           
        </ul>
      </div>
      <div class="answer">
        <h3 id="judge_txt"></h3>
      </div>
      <div class="start" id="start_button">
        <button>スタート</button>
      </div>
      <div class="restart" id="restart_button" style="display:none;">
        <button>もう一度</button>
      </div>
      <div class="correct-count">
        <p id="correct_count"></p>
      </div>
      <br>
      <div class="user-name" id="user_name">
        ユーザー名:<input type="name">
        <p>ランキングへ参加する場合はユーザー名を入力してください。</p>
      </div>
      <br>
      <div class="ranking" id="ranking">
        <p>★★★ランキング★★★</p>
        <% i = 1; %>
        <% lists.forEach((list) => { %>
          <li style="display:inline;"><%= i %>位：<%= list.user_name %></li><br>
        <% i++; %>
        <% }); %>

      </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
